.header{
    display: flex;
    padding: 1rem 0rem;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
}

.navegacion{
    align-items: center;
    display: flex;
    gap: 2.25rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1920px;
    padding: 1.5rem 0;
    width: 90%;
}

.barra__busqueda{
    display: flex;
    padding: 0.3rem;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 15px;
    color: #a2a2a2;
    width: 393px;
    height: 40px;
}

.buscador{
    outline: none;
    display: block;
    width: 383px;
    border: none;
    background-color: #f5f5f5;
    padding-left: 10px;
}

.buscador__icono{
    padding: 11px;
    cursor: pointer;
    width: 17.06px;
    height: 17.05px;
}

.boton__login{
    height: 51px;
    width: 182px;
    border-width: 1px;
    background-color: white;
    border: solid #2a7ae4 1px;
    color: #2a7ae4;
    font-weight: 600;
    font-size: 14px;
    padding: 0.5rem 1.5rem;
    display: inline;
}

.titulo__login{
    text-decoration: none;
    color: #2a7ae4;
    cursor: pointer;
}

@media only screen and (max-device-width:375px){
    .header{
        padding: 0;
    }
    .navegacion{
        max-width: 375px;
        height: 72px;
        display: flex;
        justify-content: space-between;
        padding: 16px;
    }
    .logo{
        order: 1;
    }
    .barra__busqueda{
        order: 3;
    }
    .login{
        order: 2;
    }
    .logo{
        width: 100px;
        height: 28px;
    }
    .logo__imagen{
        max-width: 100px;
        max-height: 28px;
    }
    .barra__busqueda{
        background-color: #ffffff;
        padding: 0;
    }
    .buscador{
        display: none;
    }
    .boton__login{
        width: 133px;
        height: 40px;
    }
}

@media (min-device-width:375px) and (max-device-width:768px){
    .header{
        width: 768px;
        height: 72px;
    }
    .navegacion{
        width: 768px;
        height: 72px;
        padding: 16px;
    }
    .logo__imagen{
        width: 100px;
        height: 28px;
    }
    .barra__busqueda{
        width: 272px;
        height: 40px;
    }
    .boton__login{
        width: 166px;
        height: 40px;
    }
}
