.seccion__login{
    width: 100%;
    height: 380px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario__login{
    padding: 3rem 0rem;
}

.formulario__login--titulo{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.formulario__login input{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 413px;
    height: 63.13px;
    display: block;
    border: none;
    outline: none;
    margin: 1rem 0rem;
    outline: none;
    border-bottom: solid #C8C8C8 2px;
    padding-left: 10px;
}

.formulario__boton--login{
    height: 63.13px;
    width: 423px;
    border-width: 1px;
    border: none;
    background-color: #2a7ae4;
    color: white;
    font-weight: 600;
    font-size: 12px;
    padding: 0.5rem 1.5rem;
    display: inline;
    cursor: pointer;
}

.formulario__boton--login:hover{
    background: #5595e9;
}

@media only screen and (max-device-width:375px){
    .seccion__login{
        max-width: 375px;
        max-height: 362px;
    }
    .formulario__login{
        width: 275px;
        height: 189px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formulario__login--titulo{
        width: 105px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        text-align: justify;
    }
    .formulario__login input{
        width: 275px;
        height: 41px;
    }
    .formulario__boton--login{
        width: 109px;
        height: 40px;
    }
}

@media (min-device-width:375px) and (max-device-width:768px){
    .seccion__login{
        width: 768px;
        height: 470px;
    }
}