.seccion__rodapie{
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #eaf2fd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}
.rodapie__seccion--1{
    display: flex;
}

.rodapie__logo{
    margin: 0 112px 150px 100px;
}

.seccion__rodapie--lista{
    margin: 0;
    width: 176px;
    height: 234px;
}

.rodapie__lista{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rodapie__lista--item{
    transition: all 0.5s;
}

.rodapie__lista--item:hover{
    transform: scale(1.10);
}

.rodapie__lista--link{
    color: #464646;
    text-decoration: none;
    transition: all 1s;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-right: 8%;
}

.formulario__titulo{
    font-weight: 700;
}

.formulario__campo{
    display: flex;
    flex-direction: column;
}

.formulario label{
    background-color: #FFFFFF;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.formulario input{
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgb(192, 191, 191);
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;
    width: 35rem;
}

.formulario textarea{
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgb(192, 191, 191);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    height: 4rem;
    outline: none;
    padding: 0.5rem;
    resize: none;
    width: 35rem;
}

.formulario__boton{
    background-color: #2A7AE4;
    border: none;
    border-radius: 5%;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: auto;
    padding: 1rem 2rem;
    transition: all 1s;
}

.formulario__boton:hover{
    transform: scale(1.10);
}

.boton__enabled{
    background-color: rgb(38, 211, 105);
}

.boton__disabled{
    background-color: rgb(202, 22, 22);
}

.warnings{
        text-align: center;
        margin: auto;
        color: #806AB3;
        padding-top: 20px;
}

@media only screen and (max-device-width:375px){
    .seccion__rodapie{
        max-width: 375px;
        height: 553px;
        display: inline-block;
    }
    .rodapie__seccion--1{
        display: flex;
        flex-direction: column;
    }
    .rodapie__logo{
        margin: 0;
        display: flex;
        justify-content: center;
        max-width: 176px;
        max-height: 50px;
        margin-left: 72px;
    }
    .logo__imagen--rodapie{
        max-width: 176px;
        max-height: 50px;
    }
    .seccion__rodapie--lista{
        width: 328px;
        height: 194px;
        display: flex;
        justify-content: center;
    }
    .rodapie__lista{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .rodapie__lista--item{
        text-align: center;
    }
    .formulario{
        margin: 0;
    }
    .formulario input{
        width: auto;
    }
    .formulario textarea{
        width: auto;
    }
}
@media (min-device-width:375px) and (max-device-width:768px){
    .seccion__rodapie{
        width: 768px;
        height: 364px;
        display: flex;
        padding: 0;
    }
    .rodapie__seccion--1{
        display: inline;
    }
    .rodapie__logo{
        margin: 42.42px 0 0 36.99px;
    }
    .logo__imagen--rodapie{
        width: 176px;
        height: 50px;
    }
    .seccion__rodapie--lista{
        padding-left: 32px;
        margin: 0;
    }
    .rodapie__lista{
        gap: 0;
        display: inline;
        text-align: initial;
    }
    .rodapie__lista--item{
        margin: 12px;
    }
    .formulario{
        width: 434px;
        height: 229px;
        margin-right: 32px;
        margin-top: 32px;
    }
    .formulario__titulo{
        width: 434px;
        height: 19px;
        font-size: 16px;
    }
    .formulario__campo{
        width: 434px;
        height: 56px;
    }
    .formulario__campo label{
        width: auto;
        height: 16px;
    }
    .formulario input{
        width: auto;
        height: 28px;
    }
    .formulario textarea{
        width: auto;
        height: 82px;
    }
    .formulario__boton{
        width: 133px;
        height: 40px;
        padding: 12px 16px 12px 16px;
        margin: 0;
    }
}